@font-face {
  font-family: "ShortBaby-Mg2w";
  src: local("ShortBaby-Mg2w"),
    url(../fonts/ShortBaby-Mg2w.ttf) format("truetype");
  font-weight: normal;
}

.Media {
  padding-top: 15vh;
  background-image: url(../assets/johnson/backimage_2.jpg);
  background-size: cover;
}

.BoxCont {
  display: flex;
  justify-content: center;
}

.Box1 {
  background-color: transparent;
  width: 40%;
  height: 50vh;
  margin: 5px;
  box-shadow: rgb(194, 192, 190) 1px 2px 2px 2px;
  cursor: pointer;
  transition: rgb(228, 225, 225) 5s;
}

/* .Box1:hover {
  box-shadow: rgb(165, 154, 154) 1px 4px 4px 2px;
  cursor: pointer;
  transition: rgb(228, 225, 225) 5s;
} */
